// Define variables for your color scheme
$yellow: #E0D671;
$purple: #560085;
$off-white: #EFEFEF;

// For example:
$red: #F07167;
$orange: #FED9B7;
$green: #00AFB9;
$blue: #0081A7;
$gray: #0E0000;
$light-gray: #F4F4F4;
$white: #FFFFFF;

// $primary: $yellow;
// $accent: $purple;
