// Specific CSS for your home-page
body {
  background-color: white;
}

h3 {
  font-weight: bold;
}

// BANNER
.banner {
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(255, 255, 255, .1)), url('elevate.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 50px);
  position: relative;
}

.banner h2 {
  color: white;
}

.intro {
  position: absolute;
  left: 0;
  right: 0;
  margin: 10% auto;
  width: 85%;
}

.intro form {
  margin: 75px 0;
}

.intro form label {
  font-weight: bolder;
  font-size: 18px;
  margin: 15px 0;
}

.adept-input {
  border: none;
  border-radius: 6px;
  font-style: italic;
  font-size: 14px;
  padding: 15px 15px;
}

// WHAT IS ADEPT
.what-is-adept {
  margin: 45px 0;
  padding: 30px;
  text-align: center;
}

.what-is-adept img {
  display: block;
  height: 180px;
  margin: 50px auto;
  width: 180px;
}

.what-is-adept a {
  display: inline-block;
}

@media (max-width: 767px) {

  .what-is-adept {
    position: relative;
  }

  .what-is-adept::after {
    border-bottom: 1px solid lightgray;
    content: "";
    height: 80vh;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: -30px;
    width: 250px;
  }
}
