.map {
  min-width: 100%;
  height: calc(100vh - 130px);
}

.mapboxgl-ctrl-top-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-section {
  padding: 30px;
  height: calc(100vh - 230px);
  overflow: scroll;
  overflow-x: hidden;
}

.filter-button-section {
  display: flex;
}

.filter-form-button {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 25px;
  margin: 15px;
  flex-grow: 1;
}
