.map {
  min-width: 100%;
  height: calc(100vh - 130px);
}

.mapboxgl-ctrl-top-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-section {
  padding: 30px;
  height: calc(100vh - 130px);
  overflow: scroll;
}




.accordion-body {
  background-color: $white !important;
  max-width: 100%;
  height: calc(100vh - 130px);
}

.filter-form {
  display: flex;
  flex-direction: column;
}

.filter-form-button {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 25px;
  margin: 15px;
}

.filter-option-btn {
  background-color: $white;
  border-radius: 10px;
  margin: 3px;
  color: $black;
}
