.venue-banner {

  max-width: 100%;
}

.venue-banner img {
  object-fit: cover;
  height: 250px;
  width: 100%;
}

.review  {
  background-color: rgba(0, 129, 167, .1);
  border-radius: 10px;
  padding: 20px 20px;
  margin: 15px 0;
}
