<div class="about-us-container">
  <h3>About MapAbl</h3>
  <p>We are a communitry driven app, aimed at improving the way accessibility requirements are thought of.
  Using our platform, users can look up venues anywhere in the world, filter them by specific requirements or
  even the type of venue required!</p>
  <p>Leave reviews of places you visit, not for their services but for whether they
  accomodate disability.</p>
  <p>Know of somewhere that excels in accessibility? Add it to the map so other users can find it!</p>

  <br>

  <h3>FAQs</h3>

  <div class="accordion" id="accordionFAQs">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Is this app only for disabled people?
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionFAQs">
        <div class="accordion-body">
          <strong>No, not at all! </strong> Anyone can use this app, regardless of whether they are disabled or not! Whether you have disabled friends who might need extra
          requirements, or you just want to support businesses who make an effort to be inclusive, this app is for you!
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Do I have to make an account to use this app?
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionFAQs">
        <div class="accordion-body">
          <strong>No, you are free to use the app without making an account!</strong> You only need an account if you want to leave reviews, save your favourite places or add new venues!
        </div>
      </div>
    </div>
  </div>

  <br>

  <h3>Meet The Creator of MapAbl!</h3>

  <div class="card-person">
    <img src="https://avatars.githubusercontent.com/u/106918645?s=400&u=40d6e9796cf5aa976489b4ca44587af2ada80340&v=4" />
    <div class="card-person-infos">
      <h2>Freddy Henderson</h2>
      <p>Joint Project Lead</p>
    </div>
  </div>
</div>
