<div class="about-us-container">
  <h3>About MapAbl</h3>
  <p>We are a communitry driven app that is changing the way public accessibility is approached.
  Using our platform, users can look up venues anywhere in the world and filter them by specific access
  requirements or even the type of venue needed!</p>
  <p>Leave reviews of places you visit, not for their services but for whether they
  accomodate disability.</p>
  <p>Know of somewhere that excels in accessibility? Add it to the map so other users can find it!</p>

  <br>

  <h3>How Does it Work?</h3>

  <div class="how-does-it-work-container">
    <div class="row">
      <div class="col-sm">
        <p>Want to go to a restaurant but need a chair with a supportive back? Don’t worry, we’ve got you covered.
        Just search on our map and tick those filters and venues that fit those requirements will show up!</p>
      </div>
      <div class="col-sm">
        <%= image_tag('picture_stand_in.jpg', alt: "To Be Updated!!!") %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <%= image_tag('picture_stand_in.jpg', alt: "To Be Updated!!!") %>
      </div>
      <div class="col-sm">
        <p>What about if you know somewhere with great accessibility and want to let others in the community know?
        You can add venues to the map so that everyone can see them! Tell us which access features they have
        and maybe even snap a photo while you’re at it!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <p>You can also read and write reviews for venues to let others know if anywhere went above and beyond!
        Maybe a particular cinema shows relaxed screenings and you want others to know? Perhaps a supermarket
        has quiet hours which have really helped you? Whatever it is, leave a review so that
        others can find the information!</p>
      </div>
      <div class="col-sm">
        <%= image_tag('picture_stand_in.jpg', alt: "To Be Updated!!!") %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <%= image_tag('picture_stand_in.jpg', alt: "To Be Updated!!!") %>
      </div>
      <div class="col-sm">
        <p>If you were super impressed, maybe you want to add the venue to your favourites? You can click
        the heart button next to the venue details to keep track of the places you love so that you
        never lose track</p>
      </div>
    </div>
  </div>

  <br>

  <h3>FAQs</h3>

  <div class="accordion" id="accordionFAQs">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Is this app only for disabled people?
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionFAQs">
        <div class="accordion-body">
          <strong>No, not at all! </strong> Anyone can use this app, regardless of whether they are disabled or not! Whether you have disabled friends who might need extra
          requirements, or you just want to support businesses who make an effort to be inclusive, this app is for you!
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Do I have to make an account to use this app?
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionFAQs">
        <div class="accordion-body">
          <strong>No, you are free to use the app without making an account!</strong> You only need an account if you want to leave reviews, save your favourite places or add new venues!
        </div>
      </div>
    </div>
  </div>
</div>
