.bubble {
  background-color: $purple;
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 20px;
  margin: 10px 10px 10px 0px;
  padding: 15px 25px;
  min-width: fit-content;
}

.bubble-button {
  background-color: $yellow;
  border-radius: 10px;
  color: black;
  display: inline-block;
  font-size: 20px;
  margin: 10px 10px 10px 0px;
  padding: 15px 25px;
  min-width: fit-content;
}

.invert-bubble:hover {
  color: $blue !important;
  border: 1px solid $blue !important;
  background-color: white !important;
  filter: drop-shadow(0 0 0.75rem $blue);
}

.invert-bubble:hover {
  color: $blue !important;
  border: 1px solid $blue !important;
  background-color: white !important;
  filter: drop-shadow(0 0 0.75rem $blue);
}
