.adept-btn {
  background-color: $red;
  border-radius: 6px;
  border: none;
  color: $white;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  transition: color .3s, background-color .3s;
}

.adept-btn:hover {
  color: white;
  background-color: $blue;
}

.adept-btn:focus {
  outline: none;
}

.add-venue-btn {
  position: absolute;
  margin: auto auto;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
  text-align: center;
  z-index: 9999;
}

.large {
  margin: 15px 0 15px 0;
  padding: 15px 5px;
  width: 180px;
}

.medium {
  font-size: 14px;
  padding: 5px 12px;
}

.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
  color: white;
  background-color: $blue;
  border-color: $blue;
}


