.mapabl-btn {
  background-color: $yellow;
  border-radius: 30px;
  border: none;
  color: $black;
  min-width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: $yellow;
    color: black;
    filter: drop-shadow(0 0 4px grey);
  }
}

.mapabl-btn-purple {
  background-color: $purple;
  border-radius: 30px;
  border: none;
  color: white;
  min-width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: $purple;
    color: white;
    filter: drop-shadow(0 0 4px grey);
  }
}

.add-venue-btn {
  position: absolute;
  padding: 30px 30px !important;
  border-radius: 50px !important;
  right: 50px;
  bottom: 50px;
  text-align: center;
  z-index: 9999;
}

.filter-btn {
  padding: 5px 30px;
  margin: 2px 0px;
  color: black;
  background-color: $off-white;
  font-size: 18px;
  width: max-content;
  text-align: left;
  transition-duration: 0.2s;

  &:hover {
    background-color: $yellow;
  }

  &:active {
    background-color: $purple !important;
    color: white;
  }
}

.large {
  margin: 15px 0 15px 0;
  padding: 15px 5px;
  width: 180px;
  font-size: 20px;
}

.medium {
  //margin: 12px 0 12px 0;
  padding: 7px 15px;
  // width: 130px;
  font-size: 16px;
}













.adept-btn {
  background-color: $red;
  border-radius: 6px;
  border: none;
  color: $white;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  transition: color .3s, background-color .3s;
}

.adept-btn:hover {
  color: white;
  background-color: $blue;
}

.adept-btn:focus {
  outline: none;
}

.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
  color: white;
  background-color: $blue;
  border-color: $blue;
}
