.adept-btn {
  background-color: $red;
  border-radius: 6px;
  border: none;
  color: $white;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: color .3s, background-color .3s;
}

.adept-btn:hover {
  color: white;
  background-color: $blue;
}

.large {
  margin: 15px 0 15px 0;
  padding: 15px 5px;
  width: 180px;
}
