.mapabl-form label {
  color: #363636;
  font-size: 140%;
  font-weight: light;
}

.mapabl-form textarea {
  height: 150px;
  resize: none;
  border-radius: 6px;
}

.mapabl-input-group {
  margin: 30px 0;
}

.mapabl-submit {
  margin: 40px 0;
  text-align: center;
}

.mapabl-rating {
  text-align: center;
}

.mapabl-rating .review_rating {
  display: inline-block;
}

.mapabl-file-upload {
  background: none;
  border: 1px solid $blue;
  border-radius: 5px;
  user-select: none;
  padding: 0;
  text-align: center;
}

.mapabl-file-upload:focus {
  background: none;
  color: black;
  outline: none;
}

.mapabl-file-upload:active {
  background: none;
  color: black;
}

.mapabl-file-upload::-webkit-file-upload-button {
  visibility: hidden;
}

.mapabl-file-upload::before {
  content: '📷 Upload photo';
  color: $white;
  display: block;
  background: $blue;
  padding: 5px 8px;
  outline: none;
  font-size: 120%;
  white-space: nowrap;
  cursor: pointer;
  font-weight: 700;
  text-align: center;
}

.upload-avatar {
  align-items: center;
  background-color: $yellow;
  border-radius: 100%;
  color: rgb(49, 49, 49);
  cursor: pointer;
  font-size: 45px;
  display: flex;
  justify-content: center;
  height: 150px;
  width: 150px;
  transition: opacity .2s;
}

.upload-avatar:hover{
  opacity: .7;
}
