.info-container {
  background-color: $white;
  width: 310px;
  border: 1px solid black;
  border-radius: 10px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.info-container-left {
  max-width: 120px;
}

.info-container-right {
  width: 100%;

  h5 {
    margin-left: 8px;
    margin-top: 8px;
    margin-bottom: 2px !important;
    font-weight: 900;
  }

  p {
    margin-left: 8px;
    margin-bottom: 0;
  }
}

.info-container-address {
  height: 55%;

  .venue_type {
    margin-left: 8px;
    font-size: 12px;
    margin-bottom: 5px;
  }
}

.info-container-details {
  height: 39.5%;
  padding-right: 10px;
  background-color: $yellow;
  border-bottom-right-radius: 10px;

  .mapabl-btn-purple {
    border-radius: 10px !important;
  }
}

.venue-image {
  object-fit: cover;
  width: 100%;
  height: 150px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.mapboxgl-popup-close-button {
  display: none !important;
}
