.info-container {
  background-color: $white;
  width: 310px;
  border-radius: 10px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.info-container-left {
  max-width: 120px;
}

.info-container-right {
  background: linear-gradient(
                              to bottom,
                              white,
                              white 60%,
                              rgba(0, 129, 167, 0.1) 40%,
                              rgba(0, 129, 167, 0.1)
                              );
  padding: 8px 5px;
  width: 100%;

  h5 {
    margin-left: 8px;
    margin-top: 8px;
  }

  p {
    margin-left: 8px;
    margin-bottom: 0;
  }
}

.info-container-address {
  height: 55%;
}

.info-container-details {
  height: 45%;
}

.info-container-details {
  padding-right: 10px;
}


.venue-image {
  object-fit: cover;
  width: 100%;
  height: 150px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.mapboxgl-popup-close-button {
  display: none !important;
}
