.info-container {
  display: flex;
  background-color: $white;
  width: 310px;
  height: 150px;
  border: 1px solid black;
  justify-content: center;
}

.info-container-right {
  margin: 5px;

  .link-box {
    height: 70px;
    background: rgba(0, 129, 167, 0.1);
  }
}

.venue-image {
  width: 100px;
  height: 150px;
}
