.navbar-enabl {
  background-color: $yellow;
}

.enabl-logo {
max-width: 250px;
}

.navbar-enabl a {
  color: black;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler i {
  color: $white;
  font-size: 28px;
}

.nav-item i {
  padding-right: 32px;
}

@media(max-width: 100px) {

  .line-separator {
    padding-bottom: .5rem;
    border-bottom: 1px solid lightgray;
  }
}
