.navbar-enabl {
  background-color: $yellow;
}

.enabl-logo {
max-width: 250px;
padding: 10px;
}

.navbar-enabl a {
  color: black;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler i {
  color: black;
  font-size: 28px;
}

.nav-el {
  flex-grow: 0 !important;
}

.nav-item {
  padding-left: 50px;
  font-size: 25px;

  i {
    padding-right: 15px;
  }
}

@media(max-width: 100px) {

  .line-separator {
    padding-bottom: .5rem;
    border-bottom: 1px solid lightgray;
  }
}
