.navbar-adept {
  background-color: $blue;
  box-shadow: 0px 5px 10px lightgray;
}

.navbar-adept a {
  color: $white;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler i {
  color: $white;
  font-size: 28px;
}

.nav-item i {
  padding-right: 32px;
}

@media(max-width: 1023px) {

  .line-separator {
    padding-bottom: .5rem;
    border-bottom: 1px solid lightgray;
  }
}
