.navbar-mapabl {
  background-color: $yellow;
  padding: 0 !important;

  a {
    color: black;
  }
}

.mapabl-logo {
max-width: 250px;
padding: 10px;
}

.navbar-toggler {
  border: none;

  i {
    color: black;
    font-size: 28px;
  }
}

.nav-el {
  flex-grow: 0 !important;
}

.nav-item {
  font-size: 25px;
  padding: 20px 20px;

  i {
    padding-right: 15px;
  }

  &.selected {
    background-color: #EDE7AB !important;
  }
}

@media(max-width: 100px) {

  .line-separator {
    padding-bottom: .5rem;
    border-bottom: 1px solid lightgray;
  }
}
