// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: white;
}

a {
  text-decoration: none;
 } 
  
.h-100 {
  min-height: calc(100vh - 165px);
}
